{% form_theme u_form 'bootstrap_4_layout.html.twig' %}
{% extends 'adbase.html.twig' %}

{% block title %}Add new admin{% endblock %}

{% block body %}

<div class="container">                
    <h1>Add admin</h1>
    {{ form_start(u_form)}}
    {{ form_widget(u_form)}}
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
    {{ form_end(u_form)}}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
